@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Bangers&display=swap");
/* font-family: 'Audiowide', cursive;
font-family: 'Bangers', cursive; */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

i {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}
.select-off {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333333;
  height: 100vh;
}

#clock {
  background: #7a7a7a;
  padding: 50px 20px;
}

#title {
  font-size: 50px;
  font-family: "Bangers", cursive;
  color: #f7f7f7;
}

#header-section {
  text-align: center;
  margin-bottom: 30px;
}

#lengths-section {
  text-align: center;
  margin-bottom: 50px;
}

#lengths-section > div {
  display: inline-block;
  font-family: "Bangers", cursive;
  color: #f7f7f7;
  font-size: 30px;
  margin: auto 30px;
  padding: 20px;
}

#break-length > div,
#session-length > div {
  display: inline-block;
  margin: auto 10px;
}

#break-length > p,
#session-length > p {
  margin-bottom: 10px;
}

#display-section {
  text-align: center;
  margin-bottom: 50px;
}

#display-title {
  font-size: 40px;
  font-family: "Bangers", cursive;
  color: #f7f7f7;
  margin-bottom: 20px;
}

#display {
  padding: 5px 10px;
  background: rgb(48, 48, 48);
  color: #5eff00;
  border-radius: 5px;
  font-size: 50px;
  font-family: "Audiowide", cursive;
  min-width: 200px;
  display: inline-block;
}

.display-sm {
  padding: 5px 10px;
  background: rgb(48, 48, 48);
  color: #5eff00;
  border-radius: 5px;
  font-family: "Audiowide", cursive;
}

#control-section {
  text-align: center;
  color: #f7f7f7;
  margin-bottom: 50px;
}

#control-section > div {
  display: inline-block;
  font-size: 50px;
  margin: auto 20px;
}
